In [121]:
import kaggle
# downloading the zip file from kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv -p raw_zipfile

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/abdul/.config/kaggle/kaggle.json'
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [122]:
# Extract file from zip file to csv
import zipfile
zip_ref = zipfile.ZipFile("raw_zipfile/orders.csv.zip")
zip_ref.extractall("extract_zip_csv")# This extracts the csv and stored it the folder
zip_ref.close()

In [123]:
# Read  data csv file to handle null values
import pandas as pd
df = pd.read_csv("extract_zip_csv/orders.csv")
df.head(10)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [124]:
# First lets inspect the column itself to find the unique values
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [125]:
# Lets replace the values Not Availabe & unknown to Nan
df = pd.read_csv("extract_zip_csv/orders.csv", na_values=["Not Available", "unknown"])
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [126]:
# Rename columns headers
#df.rename(columns={'Order Id': 'order_id'})
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [127]:
# Derive some new columns for sales transaction discount, list_price
df['discount_amount'] = df['list_price'] * df['discount_percent'] * .01
df['discount_amount']

0        5.2
1       21.9
2        0.5
3       19.2
4        1.0
        ...
9989     1.2
9990     3.6
9991     5.2
9992     0.9
9993     7.2
Name: discount_amount, Length: 9994, dtype: float64

In [128]:
# Lets found the new sale price 
df['new_sale_price'] = df['list_price'] - df['discount_amount']

In [129]:
# Lets found out our profit after updating the sale price
df['profit'] = df['new_sale_price'] - df['cost_price']
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount_amount,new_sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [130]:
# lets convert order date from object data type to date time 
# Facilitating loading our columns in sql
#df.dtypes
df['order_date'] = pd.to_datetime(df['order_date'], format="%Y-%m-%d")
print(df['order_date'].dtypes)

datetime64[ns]

In [131]:
# Lets drop columns we no longer need 
df.drop(columns=['list_price', 'cost_price','discount_percent'], inplace=True)
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount_amount', 'new_sale_price',
       'profit'],
      dtype='object')

In [132]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount_amount,new_sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [133]:
# from sqlalchemy import Table, MetaData, Column, Integer, String

# # Assuming your dataframe has columns: 'column1', 'column2', etc.
# metadata = MetaData()

# # Define the table explicitly
# df_orders_table = Table('df_orders', metadata,
#                         Column('column1', String),  # Adjust the data types based on your DataFrame
#                         Column('column2', Integer),
#                         # Add other columns as per your DataFrame structure
#                         )

In [134]:
# Loading the data to sql server on dbeaver 
import pandas as pd
import sqlalchemy as sqlacl

# Corrected connection string
engine = sqlacl.create_engine(
    'mssql+pyodbc://admin:password@172.19.80.1:1433/master?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes'
)

# Connect to SQL Server
conn = engine.connect()

# Load data to the 'df_orders' table in SQL Server
if df.empty:
    print("DataFrame is empty, no data to upload.")
else:
    df.to_sql('df_orders', con=conn, index=False, if_exists='append') # if_exists='replace' cause memory leakage if performed without creating the table in sql server first


# Close the connection
conn.close()